body {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.show-form-btn {
    position: absolute;
    right: 0;
    top: 20px;
    transform: translateX(-10%);
}

.form-container {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: 1px solid gray;
    background-color: white;
    height: 300px;
    width: 300px;
}

.field, #submit { 
    box-sizing: border-box;
    width: 200px;
}

.field {
    display: block;
    padding: 4px 6px;
    margin-bottom: 10px;
}

.header {
    height: fit-content;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    font-size: 22px;
    position: relative;
}

#search {
    width: 90%;
    height: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 4px 8px;
}

.page {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: fit-content;
}

.employee-list {
    width: 90%;
    height: fit-content;
}

.employee-item {
    margin: 6px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.delete-employee {
    position: absolute;
    top: 1px;
    right: 0;
    cursor: pointer;
    border: none;
}

.preview-name, .preview-position {
    margin: 4px 6px;
}

.preview-pic, #employee-pic {
    border: 1px solid black;
    border-radius: 50%;
}

.preview-pic {
    width: 55px;
    height: 55px;
}

.preview-name {
    font-weight: 500;
    font-size: 20px;
}

.gray {
    color: #707070;
}

/* Employee page styling */

#profile, .contact {
    width: 90%;
    padding: 4px 5px;
    border: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
}

#profile {
    border-radius: 6px 6px 0 0;
}

#employee-pic {
    width: 75px;
    height: 75px;
}

#details {
    margin-left: 10px;
}

.name, .position {
    margin: 4px 0;
}

.contact {
    justify-content: space-between;
    border-top: none;
}

:is(.employee-item, .contact):hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.type, .number {
    margin: 4px 8px;
}

.type {
    font-weight: 500;
}

.contact:last-child {
    border-radius: 0 0 6px 6px;
}

.arrow {
    margin-right: 5px;
    transform: scale(0.8, 1.4);
}

.arrow-heading {
    color: blue;
    position: absolute;
    left: 5%;
}